# ==========================================
# DJANGO
# ==========================================

DJANGO_SECRET_KEY==sua-secret-key-aqui
DEBUG=True

# ==========================================
# PAGAMENTO
# ==========================================

# True = permite testar pagamentos sem a Efí
# False = utiliza a integração real com a Efí
PAGAMENTO_DEMO=True



# ==========================================
# EFÍ - CREDENCIAIS GERAIS
# ==========================================

EFIPAY_CLIENT_ID=seu_client_id
EFIPAY_CLIENT_SECRET=seu_client_secret
EFIPAY_SANDBOX=True


# ==========================================
# EFÍ - PIX
# ==========================================

EFIPAY_PIX_CLIENT_ID=seu_pix_client_id
EFIPAY_PIX_CLIENT_SECRET=seu_pix_client_secret
EFIPAY_PIX_SANDBOX=True

# Caminho para o certificado da Efí
EFIPAY_PIX_CERTIFICATE=caminho/para/pix_certificado.pem

# Chave Pix cadastrada na Efí
EFIPAY_PIX_CHAVE=sua_chave_pix