# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/
ENV/

# =========================
# Django
# =========================

db.sqlite3
db.sqlite3-journal

media/
staticfiles/

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# Certificates / Keys
# =========================

*.pem
*.key
*.crt
*.p12
*.pfx

certificados/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log