<div class="mb-6">

    <h2 class="mb-3 padding-bottom-12">
        {{ secao.get_tipo_display }}
    </h2>

    <div class="grid-cardapio">

        {% for promocao in secao.dados|slice:":8" %}

            <a
                href="{% url 'produtos:produto_detalhe' promocao.produto.slug %}"
                class="text-decoration-none text-dark card-cardapio"
            >

                <div class="div-card-cardapio">

                    <!-- ========================================= -->
                    <!-- INFORMAÇÕES -->
                    <!-- ========================================= -->

                    <div class="text-card-cardapio">

                        <h5 class="card-title">
                            {{ promocao.produto.nome }}
                        </h5>


                        {% if promocao.descricao %}

                            <p class="card-text">
                                {{ promocao.descricao }}
                            </p>

                        {% endif %}


                        <!-- PREÇO DA PROMOÇÃO -->

                        <strong class="preco-promocional">
                            R$ {{ promocao.preco_promocional }}
                        </strong>


                        <!-- PREÇO NORMAL -->

                        <div>

                            <span class="preco-antigo">
                                R$ {{ promocao.produto.preco }}
                            </span>

                        </div>

                    </div>


                    <!-- ========================================= -->
                    <!-- IMAGEM -->
                    <!-- ========================================= -->

                    <div class="img-card-cardapio">

                        {% if promocao.produto.imagem %}

                            <img
                                src="{{ promocao.produto.imagem.url }}"
                                alt="{{ promocao.produto.nome }}"
                                class="img-card-cardapio"
                            >

                        {% else %}

                            <div class="img-card-cardapio img-placeholder">
                                Sem imagem
                            </div>

                        {% endif %}

                    </div>

                </div>

            </a>

        {% empty %}

            <p>
                Nenhuma promoção disponível.
            </p>

        {% endfor %}

    </div>


    <!-- ========================================= -->
    <!-- VER MAIS -->
    <!-- ========================================= -->

    {% if secao.dados|length > 8 %}

        <div class="text-center mt-4">

            <a
                href="{% url 'cardapio_cliente:ver_todos' secao.tipo %}"
                class="btn btn-outline-primary btn-carrinho"
            >
                Ver mais itens
            </a>

        </div>

    {% endif %}

</div>