{% extends "templates/base.html" %}

{% block content %}

<h2>{{ titulo }}</h2>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="row">

        <div class="col-md-6">

            <label>Adicionar o sabor em algum grupo ou criar novo</label>

            {{ form.grupo }}
            
            <a href="{% url "grupos_sabores:novo" %}">Criar novo grupo de sabores</a>

        </div>
        <br>
        <div class="col-md-6">

            <label>Nome do sabor</label>

            {{ form.nome }}

        </div>

    </div>

    <br>

    <label>Descrição</label>

    {{ form.descricao }}

    <br>

    <div class="row">

        <div class="col-md-4">

            <label>Valor adicional</label>

            {{ form.valor_adicional }}

        </div>

        <div class="col-md-4">

            <label>Ordem</label>

            {{ form.ordem }}

        </div>

        <div class="col-md-4">

            <label>Imagem</label>

            {{ form.imagem }}

        </div>

    </div>

    <br>

    <label>

        {{ form.ativo }}

        Ativo

    </label>

    <br><br>

    <button class="btn btn-success">

        Salvar

    </button>

    <a
        href="{% url 'sabor:listar' %}"
        class="btn btn-secondary"
    >

        Cancelar

    </a>

</form>

{% endblock %}