{% extends "templates/base.html" %}

{% block content %}

<h2 class="mb-4">{{ titulo }}</h2>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="mb-3 linha-form">
        <label class="label-form" for="{{ form.grupo.id_for_label }}">
            {{ form.grupo.label }}
        </label>

        <div>

            {{ form.grupo }}
            {{ form.grupo.errors }}

            <a href="{% url 'grupos_sabores:novo' %}"
               class="d-block mt-2">
                Criar novo grupo de sabores
            </a>

        </div>

    </div>

    <div class="mb-3 linha-form">
        <label class="label-form" for="{{ form.nome.id_for_label }}">
            {{ form.nome.label }}
        </label>

        {{ form.nome }}
        {{ form.nome.errors }}
    </div>

    <div class="mb-3 linha-form">
        <label class="label-form" for="{{ form.descricao.id_for_label }}">
            {{ form.descricao.label }}
        </label>

        {{ form.descricao }}
        {{ form.descricao.errors }}
    </div>

    <div class="mb-3 linha-form">

        <label class="label-form label-sincronizado">
            {{ form.imagem.label }}
        </label>

        {% if sabor and sabor.imagem %}

            <div class="mb-2 display-flex align-center">

                <a href="{{ sabor.imagem.url }}" target="_blank">
                    {{ sabor.imagem.name }}
                </a>

                &nbsp;&nbsp;&nbsp;&nbsp;

                <div class="form-check mt-2">

                    <input
                        class="form-check-input"
                        type="checkbox"
                        name="remover_imagem"
                        id="remover_imagem">

                    <label
                        class="form-check-label"
                        for="remover_imagem">
                        Apagar imagem atual
                    </label>

                </div>

            </div>

            <label class="form-label mt-2">
                Alterar imagem:
            </label>

        {% endif %}

        <input
            type="file"
            name="{{ form.imagem.html_name }}"
            id="{{ form.imagem.id_for_label }}"
            class="form-control"
            accept="image/*">

        {{ form.imagem.errors }}

    </div>

    <div class="mb-3 linha-form">
        <label class="label-form">
            {{ form.valor_adicional.label }}
        </label>

        {{ form.valor_adicional }}
        {{ form.valor_adicional.errors }}
    </div>

    <div class="mb-3 linha-form">
        <label class="label-form">
            {{ form.ordem.label }}
        </label>

        {{ form.ordem }}
        {{ form.ordem.errors }}
    </div>

    <div class="mb-3 linha-form">
        <label class="label-form label-sincronizado">
            {{ form.ativo.label }}
        </label>

        {{ form.ativo }}
        {{ form.ativo.errors }}
    </div>

    <button class="btn btn-success" type="submit">
        Salvar
    </button>

</form>

{% endblock %}