{% extends "templates/base.html" %}

{% block content %}

<div>

    <div class="card">

        <div class="card-header display-flex space-between">

            <div>

                <h2>

                    {% if form.instance.id %}
                        Editar Grupo de Adicionais
                    {% else %}
                        Novo Grupo de Adicionais
                    {% endif %}

                </h2>

            </div>

        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">

                    <label>

                        {{ form.nome.label }}

                    </label>

                    {{ form.nome }}
                    {{ form.nome.errors }}

                </div>

                <div class="mb-3">

                    <label>

                        {{ form.descricao.label }}

                    </label>

                    {{ form.descricao }}
                    {{ form.descricao.errors }}

                </div>

                <div class="mb-3">

                    <label>

                        {{ form.minimo.label }}

                    </label>

                    {{ form.minimo }}
                    {{ form.minimo.errors }}

                </div>

                <div class="mb-3">

                    <label>

                        {{ form.maximo.label }}

                    </label>

                    {{ form.maximo }}
                    {{ form.maximo.errors }}

                </div>

                <div class="mb-3">

                    <label>

                        {{ form.ordem.label }}

                    </label>

                    {{ form.ordem }}
                    {{ form.ordem.errors }}

                </div>

                <div class="mb-3">

                    <div>

                        <label
                            class="form-check-label label-sincronizado"
                            for="{{ form.obrigatorio.id_for_label }}">

                            {{ form.obrigatorio.label }}

                        </label>

                        {{ form.obrigatorio }}

                    </div>

                    {{ form.obrigatorio.errors }}

                </div>

                <div class="mb-3">

                    <div>

                        <label
                            class="form-check-label label-sincronizado"
                            for="{{ form.ativo.id_for_label }}">

                            {{ form.ativo.label }}

                        </label>

                        {{ form.ativo }}

                    </div>

                    {{ form.ativo.errors }}

                </div>

                <hr>

                <button
                    type="submit"
                    class="btn btn-success btn-cancel btn-padrao">

                    Salvar

                </button>

                <a href="{% url 'grupos_adicionais:listar' %}"
                   class="btn btn-secondary btn-cancel btn-padrao">

                    Cancelar

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}