{% extends "templates/base.html" %}

{% block content %}

<div>

    <div class="card">

        <div class="card-header display-flex space-between">

            <div>

                <h2>

                    {% if form.instance.id %}
                        Editar Item Adicional
                    {% else %}
                        Novo Item Adicional
                    {% endif %}

                </h2>

            </div>

            <div>

                <a href="{% url 'grupoadicional:novo' %}"
                   class="btn btn-success btn-cancel btn-backgroundcolor">

                    <i class="fa-solid fa-plus"></i>
                    &nbsp;Criar Grupo de Adicionais

                </a>

            </div>

        </div>

        <div class="card-body">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="mb-3">

                    <label>

                        {{ form.grupo.label}} 

                    </label>

                    {{ form.grupo }}
                    {{ form.grupo.errors }}

                </div>

                <div class="mb-3">

                    <label>

                        {{ form.nome.label }}

                    </label>

                    {{ form.nome }}
                    {{ form.nome.errors }}

                </div>

                <div class="mb-3">

                    <label>

                        {{ form.descricao.label }}

                    </label>

                    {{ form.descricao }}
                    {{ form.descricao.errors }}

                </div>

                <div class="mb-3">

                    <label>

                        {{ form.preco.label }}

                    </label>

                    {{ form.preco }}
                    {{ form.preco.errors }}

                </div>

                <div class="mb-3">

                    <label>

                        {{ form.ordem.label }}

                    </label>

                    {{ form.ordem }}
                    {{ form.ordem.errors }}

                </div>

                <div class="mb-3">

                    <label>

                        {{ form.imagem.label }}

                    </label>

                    {% if item and item.imagem %}

                        <div class="mb-2 display-flex align-center">

                            <a href="{{ item.imagem.url }}" target="_blank">

                                {{ item.imagem.name }}

                            </a>

                            &nbsp;&nbsp;&nbsp;&nbsp;

                            <div class="form-check mt-2">

                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    name="remover_imagem"
                                    id="remover_imagem">

                                <label
                                    class="form-check-label"
                                    for="remover_imagem">

                                    Apagar imagem atual

                                </label>

                            </div>

                        </div>

                        <label class="form-label mt-2">

                            Alterar imagem:

                        </label>

                    {% endif %}

                    <input
                        type="file"
                        name="{{ form.imagem.html_name }}"
                        id="{{ form.imagem.id_for_label }}"
                        class="form-control"
                        accept="image/*">

                    {{ form.imagem.errors }}

                </div>

                <div class="mb-3">

                    <div class="">
                        <label
                            class="form-check-label label-sincronizado"
                            for="{{ form.ativo.id_for_label }}">

                            {{ form.ativo.label }}

                        </label>

                        {{ form.ativo }}

                        

                    </div>

                    {{ form.ativo.errors }}

                </div>

                <hr>

                <button
                    type="submit"
                    class="btn btn-success btn-cancel btn-padrao">

                    Salvar

                </button>

                <a href="{% url 'item_adicional:listar' %}"
                   class="btn btn-secondary btn-cancel btn-padrao">

                    Cancelar

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}