{% extends "templates/base.html" %}

{% block content %}

<div class="content-header">
    <h2>
        {% if form.instance.id %}
            Editar Item Adicional
        {% else %}
            Novo Item Adicional
        {% endif %}
    </h2>
</div>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="row">

        <div class="col-md-6 mb-3">
            <label>Grupo</label>
            {{ form.grupo }}
        </div>

        <div class="col-md-6 mb-3">
            <label>Nome</label>
            {{ form.nome }}
        </div>

        <div class="col-md-12 mb-3">
            <label>Descrição</label>
            {{ form.descricao }}
        </div>

        <div class="col-md-4 mb-3">
            <label>Preço</label>
            {{ form.preco }}
        </div>

        <div class="col-md-4 mb-3">
            <label>Ordem</label>
            {{ form.ordem }}
        </div>

        <div class="col-md-4 mb-3">
            <label>Imagem</label>
            {{ form.imagem }}

            {% if form.instance.imagem %}
                <div class="mt-2">
                    <img
                        src="{{ form.instance.imagem.url }}"
                        width="120"
                        class="img-thumbnail">
                </div>
            {% endif %}
        </div>

        <div class="col-md-12 mt-3">
            {{ form.ativo }}
            <label>Ativo</label>
        </div>

    </div>

    <br>

    <button class="btn btn-success">
        Salvar
    </button>

    <a href="{% url 'item_adicional:listar' %}" class="btn btn-secondary">
        Cancelar
    </a>

</form>

{% endblock %}